##0.Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##1.Loading Dataset

In [2]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/MLPL5-4/melb_data.csv')

In [3]:
df.head()

   Unnamed: 0      Suburb  ...             Regionname  Propertycount
0           1  Abbotsford  ...  Northern Metropolitan         4019.0
1           2  Abbotsford  ...  Northern Metropolitan         4019.0
2           4  Abbotsford  ...  Northern Metropolitan         4019.0
3           5  Abbotsford  ...  Northern Metropolitan         4019.0
4           6  Abbotsford  ...  Northern Metropolitan         4019.0

[5 rows x 22 columns]

##2.Data Description

In [4]:
df.describe()

         Unnamed: 0         Rooms  ...    Longtitude  Propertycount
count  18396.000000  18396.000000  ...  15064.000000   18395.000000
mean   11826.787073      2.935040  ...    144.996338    7517.975265
std     6800.710448      0.958202  ...      0.106375    4488.416599
min        1.000000      1.000000  ...    144.431810     249.000000
25%     5936.750000      2.000000  ...    144.931193    4294.000000
50%    11820.500000      3.000000  ...    145.000920    6567.000000
75%    17734.250000      3.000000  ...    145.060000   10331.000000
max    23546.000000     12.000000  ...    145.526350   21650.000000

[8 rows x 14 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18396 entries, 0 to 18395
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     18396 non-null  int64
 1   Suburb         18396 non-null  object
 2   Address        18396 non-null  object
 3   Rooms          18396 non-null  int64
 4   Type           18396 non-null  object
 5   Price          18396 non-null  float64
 6   Method         18396 non-null  object
 7   SellerG        18396 non-null  object
 8   Date           18396 non-null  object
 9   Distance       18395 non-null  float64
 10  Postcode       18395 non-null  float64
 11  Bedroom2       14927 non-null  float64
 12  Bathroom       14925 non-null  float64
 13  Car            14820 non-null  float64
 14  Landsize       13603 non-null  float64
 15  BuildingArea   7762 non-null   float64
 16  YearBuilt      8958 non-null   float64
 17  CouncilArea    12233 non-null  object
 18  Lattitude      15064 non-null  float64
 19  Longtitude     15064 non-null  float64
 20  Regionname     18395 non-null  object
 21  Propertycount  18395 non-null  float64
dtypes: float64(12), int64(2), object(8)
memory usage: 3.1+ MB

##3.Approach 1 : Dropping Missing Values Collumn Wise

In [6]:
# axis = 1  means column wise approach
data_without_missing_values_column_wise = df.dropna(axis = 1)

In [7]:
data_without_missing_values_column_wise.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18396 entries, 0 to 18395
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  18396 non-null  int64
 1   Suburb      18396 non-null  object
 2   Address     18396 non-null  object
 3   Rooms       18396 non-null  int64
 4   Type        18396 non-null  object
 5   Price       18396 non-null  float64
 6   Method      18396 non-null  object
 7   SellerG     18396 non-null  object
 8   Date        18396 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 1.3+ MB

##4.Approach 2 : Dropping Missing Values Row Wise

In [8]:
# axis = 0  means row wise approach
data_without_missing_values_row_wise = df.dropna(axis = 0)

In [9]:
data_without_missing_values_row_wise.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6196 entries, 1 to 15395
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     6196 non-null   int64
 1   Suburb         6196 non-null   object
 2   Address        6196 non-null   object
 3   Rooms          6196 non-null   int64
 4   Type           6196 non-null   object
 5   Price          6196 non-null   float64
 6   Method         6196 non-null   object
 7   SellerG        6196 non-null   object
 8   Date           6196 non-null   object
 9   Distance       6196 non-null   float64
 10  Postcode       6196 non-null   float64
 11  Bedroom2       6196 non-null   float64
 12  Bathroom       6196 non-null   float64
 13  Car            6196 non-null   float64
 14  Landsize       6196 non-null   float64
 15  BuildingArea   6196 non-null   float64
 16  YearBuilt      6196 non-null   float64
 17  CouncilArea    6196 non-null   object
 18  Lattitude      6196 non-null   float64
 19  Longtitude     6196 non-null   float64
 20  Regionname     6196 non-null   object
 21  Propertycount  6196 non-null   float64
dtypes: float64(12), int64(2), object(8)
memory usage: 1.1+ MB

##5.Approach 3 : Using fillna()

In [10]:
cols = ['Bathroom', 'Car', 'Landsize', 'BuildingArea']

In [11]:
df[cols].head(10)

   Bathroom  Car  Landsize  BuildingArea
0       1.0  1.0     202.0           NaN
1       1.0  0.0     156.0          79.0
2       2.0  0.0     134.0         150.0
3       2.0  1.0      94.0           NaN
4       1.0  2.0     120.0         142.0
5       1.0  0.0     181.0           NaN
6       2.0  0.0     245.0         210.0
7       1.0  2.0     256.0         107.0
8       NaN  NaN       NaN           NaN
9       NaN  NaN       NaN           NaN

In [12]:
data_with_fillna = df[cols].fillna(value = 5555)

In [13]:
data_with_fillna.head(10)

   Bathroom     Car  Landsize  BuildingArea
0       1.0     1.0     202.0        5555.0
1       1.0     0.0     156.0          79.0
2       2.0     0.0     134.0         150.0
3       2.0     1.0      94.0        5555.0
4       1.0     2.0     120.0         142.0
5       1.0     0.0     181.0        5555.0
6       2.0     0.0     245.0         210.0
7       1.0     2.0     256.0         107.0
8    5555.0  5555.0    5555.0        5555.0
9    5555.0  5555.0    5555.0        5555.0

##5.Approach 4 : Using Imputer

*Strategy to handle missing values can be :*
- mean
- median
- most_frequent

In [14]:
df[cols]

       Bathroom  Car  Landsize  BuildingArea
0           1.0  1.0     202.0           NaN
1           1.0  0.0     156.0          79.0
2           2.0  0.0     134.0         150.0
3           2.0  1.0      94.0           NaN
4           1.0  2.0     120.0         142.0
...         ...  ...       ...           ...
18391       2.0  1.0       NaN          89.0
18392       1.0  5.0     866.0         157.0
18393       3.0  2.0       NaN           NaN
18394       1.0  1.0     362.0         112.0
18395       2.0  2.0       NaN         139.0

[18396 rows x 4 columns]

In [15]:
from sklearn.impute import SimpleImputer

In [16]:
imputer_mean = SimpleImputer(missing_values=np.nan, strategy="mean")

imputer_median = SimpleImputer(missing_values=np.nan, strategy="median")

In [17]:
cols = ['Bathroom', 'Car', 'Landsize', 'BuildingArea']

In [18]:
imputed_data_mean = imputer_mean.fit(df[cols])
imputed_data_mean = imputer_mean.transform(df[cols])

In [19]:
imputed_data_mean

array([[  1.        ,   1.        , 202.        , 151.22021949],
       [  1.        ,   0.        , 156.        ,  79.        ],
       [  2.        ,   0.        , 134.        , 150.        ],
       ...,
       [  3.        ,   2.        , 558.11637139, 151.22021949],
       [  1.        ,   1.        , 362.        , 112.        ],
       [  2.        ,   2.        , 558.11637139, 139.        ]])

In [20]:
# imputed_data_median = imputer_median.fit_transform(df[cols])

In [21]:
imputed_data_mean

array([[  1.        ,   1.        , 202.        , 151.22021949],
       [  1.        ,   0.        , 156.        ,  79.        ],
       [  2.        ,   0.        , 134.        , 150.        ],
       ...,
       [  3.        ,   2.        , 558.11637139, 151.22021949],
       [  1.        ,   1.        , 362.        , 112.        ],
       [  2.        ,   2.        , 558.11637139, 139.        ]])

In [22]:
imputed_data_mean = pd.DataFrame(data = imputed_data_mean, columns = cols)

In [23]:
imputed_data_mean

       Bathroom  Car    Landsize  BuildingArea
0           1.0  1.0  202.000000    151.220219
1           1.0  0.0  156.000000     79.000000
2           2.0  0.0  134.000000    150.000000
3           2.0  1.0   94.000000    151.220219
4           1.0  2.0  120.000000    142.000000
...         ...  ...         ...           ...
18391       2.0  1.0  558.116371     89.000000
18392       1.0  5.0  866.000000    157.000000
18393       3.0  2.0  558.116371    151.220219
18394       1.0  1.0  362.000000    112.000000
18395       2.0  2.0  558.116371    139.000000

[18396 rows x 4 columns]